<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Detalhes do Restaurante</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Detalhes</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <img src="/<?= $this->imgRestaurant ?>" style="width: 100%"/>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <br>
            <form class="form-horizontal form-label-left" method="POST" action="" enctype="multipart/form-data">
              <?php foreach ($this->form as $key => $form) :?>
                <div class="form-group">
                  <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                    <?= $form->getLabel() ?> <?= ($form->isRequired() ? '<span class="required">*</span>' : '')?>
                  </label>
                  <div class="col-md-10 col-sm-10 col-xs-12">
                    <?= $form ?>
                  </div>
                </div>
              <?php endforeach; ?>
              <div class="ln_solid"></div>
              <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                  <button type="submit" class="btn btn-success">Cadastrar</button>
                  <button type="reset" class="btn btn-primary">Cancelar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
