<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Eventos</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">

        <div class="x_title">
          <h2>Lista de eventos &nbsp;<a href="/panel/event/create"><button type="button" class="btn btn-success">Cadastrar</button></a></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <?php if( $this->message ): ?>
            <div class="alert <?= ($this->status) ? 'alert-success' : 'alert-danger' ?>">
              <?= $this->message ?>
            </div>
          <?php endif; ?>

          <?php if( $this->events ) { ?>
            <table class="table table-hover">
              <thead>
                <th>Id</th>
                <th>Capa</th>
                <th>Tipo de Evento</th>
                <th>Ano</th>
                <th>Edit.</th>
                <th>Capa</th>
                <th>Patr.</th>
                <th>Rest.</th>
                <th>Excl.</th>
              </thead>
              <tbody>
                <?php foreach ($this->events as $key => $event): ?>
                  <tr>
                    <td><?= $event['id'] ?></td>
                    <td><img src="http://festivalgourmetdevarginha.com.br/public/thumb.php?img=<?=$event['image']?>&w=40&h=26"/></td>
                    <td>
                      <?= ($event['type'] == 'culinary') ? 'Culinária a céu aberto' : (($event['type'] == 'competition') ? 'Concurso' : 'Rota do Sabor'); ?>    
                    </td>
                    <td><?= $event['year'] ?></td>
                    <td><a href="/panel/event/update/id/<?=$event['id']?>"><i class="icon glyphicon glyphicon-pencil" title="Editar"/></a></td>
                    <td><a href="/panel/event/cape/id/<?=$event['id']?>"><i class="icon glyphicon glyphicon-picture" title="Foto de Capa"/></a></td>
                    <td><a href="/panel/event/sponsor/id/<?=$event['id']?>"><i class="icon glyphicon glyphicon-certificate" title="Patrocinadores"/></a></td>
                    <td><a href="/panel/event/restaurant/id/<?=$event['id']?>"><i class="icon glyphicon glyphicon-book" title="Restaurantes"/></a></td>
                    <td><a param="/panel/event/delete/id/<?=$event['id']?>" ng-confirm-click='Tem certeza que deseja excluir este evento?'><i class="icon glyphicon glyphicon-trash" title="Excluir"/></a></td>
                  </tr>
                <?php endforeach; ?>
              </tbody>
            </table>
          <?php } else { ?>
            <div class="alert alert-info">
              Nenhum evento cadastrado no momento!
            </div>
          <?php } ?>
        </div>
      </div>
    </div>
  </div>
</div>
