<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Patrocinadores</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Cadastrar patrocinadores</h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">
          <br>
          <form class="form-horizontal form-label-left" method="POST" action="" enctype="multipart/form-data">
            <?php foreach ($this->form as $key => $form) :?>
              <div class="form-group">
                <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">
                  <?= $form->getLabel() ?> <?= ($form->isRequired() ? '<span class="required">*</span>' : '')?>
                </label>
                <div class="col-md-10 col-sm-10 col-xs-12">
                  <?= $form ?>
                </div>
              </div>
            <?php endforeach; ?>
            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <button type="submit" class="btn btn-success">Cadastrar</button>
                <button type="reset" class="btn btn-primary">Cancelar</button>
              </div>
            </div>
          </form>
          <p>&nbsp;</p>
          <h2>Imagem: </h2>
          <p>&nbsp;</p>
          <div class="row">
            <div class="col-md-12">
              <?php if($this->imgSponsor['sponsor'] != null || $this->imgSponsor['sponsor'] != ''): ?>
                <img src="/<?=$this->imgSponsor['sponsor']?>" style="width:100%"/>
                <br/><br/>
                <center><a href="/panel/event/sponsor/id/<?=$this->event['id']?>/type/delete/typeImg/regular"><button class="btn btn-danger">Excluir foto</button></a></center>
              <?php endif; ?>
            </div>
          </div>
          <p>&nbsp;</p>
          <h2>Imagem responsivo: </h2>
          <p>&nbsp;</p>
          <div class="row">
            <div class="col-md-12">
              <?php if($this->imgSponsor['sponsor_responsive'] != null || $this->imgSponsor['sponsor_responsive'] != ''): ?>
                <img src="/<?=$this->imgSponsor['sponsor_responsive']?>" style="width:100%"/>
                <br/><br/>
                <center><a href="/panel/event/sponsor/id/<?=$this->event['id']?>/type/delete/typeImg/responsive"><button class="btn btn-danger">Excluir foto</button></a></center>
              <?php endif; ?>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
