<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Usuário Administrador</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">

        <div class="x_title">
          <h2>Lista de usuários &nbsp;<a href="/panel/user/create"><button type="button" class="btn btn-success">Cadastrar</button></a></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <?php if( $this->message ): ?>
            <div class="alert <?= ($this->status) ? 'alert-success' : 'alert-danger' ?>">
              <?= $this->message ?>
            </div>
          <?php endif; ?>

          <?php if( $this->users ) { ?>
            <table class="table table-hover">
              <thead>
                <th>Id</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Permissão</th>
                <th>Status</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </thead>
              <tbody>
                <?php foreach ($this->users as $key => $user): ?>
                  <tr>
                    <td><?= $user['id'] ?></td>
                    <td><?= $user['name'] ?></td>
                    <td><?= $user['email'] ?></td>
                    <td><?= ($user['role'] == 'administrator') ? 'Administrador' : 'Editor'; ?></td>
                    <td><?= ($user['status'] == 'y') ? 
                                  '<span class="label label-success">Ativo</span>' : 
                                  '<span class="label label-danger">Desativado</span>'; ?>              
                    </td>
                    <td><a href="/panel/user/update/id/<?=$user['id']?>"><i class="icon glyphicon glyphicon-pencil"/></a></td>
                    <td><?= ($this->dataAuth->getEmail() != $user['email']) ? "<a param='/panel/user/delete/id/".$user['id']."' ng-confirm-click='Tem certeza que deseja excluir este usuário?'><i class='icon glyphicon glyphicon-trash'/></a></td>" : '' ?>
                  </tr>
                <?php endforeach; ?>
              </tbody>
            </table>
          <?php } else { ?>
            <div class="alert alert-info">
              Nenhum usuário cadastrado no momento!
            </div>
          <?php } ?>
        </div>
      </div>
    </div>
  </div>
</div>
