<html>
	<head>
		<title>Sem Permissão</title>
		<script type="text/javascript">
			function goBack(){
				javascript:history.back(-2);
			}
		</script>
	</head>
	<body>
		<h2>Ops! Você não tem permissão para acessar essa área.</h2>
		<button onClick="goBack()">Voltar</button>
	</body>
</html>