<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92907423-1', 'auto');
  ga('send', 'pageview');

</script>

<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner" style="background-image: url(/public/site/images/food-wallpaper14.jpg)" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-left">

				<div class="row row-mt-15em">
					<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp" style="margin-right: 0px;">
						<?php if( $this->message ): ?>
				            <div class="alert <?= ($this->status) ? 'alert-success' : 'alert-danger' ?>">
				              	<?= $this->message ?>
				              	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
				            </div>
				        <?php endif; ?>
						<!--<span class="intro-text-small">Hand-crafted by <a href="http://gettemplates.co" target="_blank">GetTemplates.co</a></span>-->
						<h1 class="cursive-font">A trilha dos sabores Sul Mineiros!</h1>
					</div>
					<div class="col-md-5 col-md-push-1 animate-box" data-animate-effect="fadeInRight" style="left: 0px;">

						<video autoplay="" preload="auto" loop="loop" muted="" poster="" id="pretzel-video" class="video-playing" style="width:100%;height:291px;">
		                	<source src="/public/site/images/gifcapa6.mp4" type="video/mp4">
		                </video>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div id="gtco-features">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
				<h2 class="cursive-font" style="color:#fbae42">Eventos</h2>
				<p style="color: #fff">Confira abaixo os eventos do Festival Gourmet de Varginha <?=$this->year?></p>
			</div>
		</div>
		<div class="row">

			<div class="col-lg-4 col-md-4 col-sm-6">
				<a href="/evento/categoria/culinaria-a-ceu-aberto/<?=$this->year?>">
					<center>
						<img src="/public/site/images/Barraca.png" style="width:250px;"/><br/>
						<h4 style="color:#fff">Culinária a céu aberto <span style="font-size: 12px;">Shopping</span><br/><span style="font-size: 12px;">21, 22, 23 de abril</span></h4>
					</center>
				</a>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<a href="/evento/categoria/concurso/<?=$this->year?>">
					<center>
						<img src="/public/site/images/Podium.png" style="width:250px;"/><br/>
						<h4 style="color:#fff">Concurso<br/><span style="font-size: 12px;">21 de abril a 14 de maio</span></h4>
					</center>
				</a>
				<a href="http://perfilwe.com.br/conheca-o-vencedor-do-concurso-gourmet-edicao-2017/" target="_blank" style="color: #fbae42">
					<center>
						Conheça os Vencedores
					</center>
				</a>
				<br/>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<a href="/evento/categoria/rota-do-sabor/<?=$this->year?>">
					<center>
						<img src="/public/site/images/Rota.png" style="width:250px;"/><br/>
						<h4 style="color:#fff">Rota do Sabor<br/><span style="font-size: 12px;">11 a 30 de setembro</span></h4>
					</center>
				</a>
			</div>

		</div>
	</div>
</div>

<!--<div id="gtco-features">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
				<h2 class="cursive-font">Our Services</h2>
				<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="feature-center animate-box" data-animate-effect="fadeIn">
					<span class="icon">
						<i class="ti-face-smile"></i>
					</span>
					<h3>Happy People</h3>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="feature-center animate-box" data-animate-effect="fadeIn">
					<span class="icon">
						<i class="ti-thought"></i>
					</span>
					<h3>Creative Culinary</h3>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="feature-center animate-box" data-animate-effect="fadeIn">
					<span class="icon">
						<i class="ti-truck"></i>
					</span>
					<h3>Food Delivery</h3>
					<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
				</div>
			</div>
			

		</div>
	</div>
</div>


<div class="gtco-cover gtco-cover-sm" style="background-image: url(/public/site/images/img_bg_1.jpg)"  data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="gtco-container text-center">
		<div class="display-t">
			<div class="display-tc">
				<h1>&ldquo; Their high quality of service makes me back over and over again!&rdquo;</h1>
				<p>&mdash; John Doe, CEO of XYZ Co.</p>
			</div>	
		</div>
	</div>
</div>

<div id="gtco-counter" class="gtco-section">
	<div class="gtco-container">

		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center gtco-heading animate-box">
				<h2 class="cursive-font primary-color">Fun Facts</h2>
				<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
			</div>
		</div>

		<div class="row">
			
			<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
				<div class="feature-center">
					<span class="counter js-counter" data-from="0" data-to="5" data-speed="5000" data-refresh-interval="50">1</span>
					<span class="counter-label">Avg. Rating</span>

				</div>
			</div>
			<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
				<div class="feature-center">
					<span class="counter js-counter" data-from="0" data-to="43" data-speed="5000" data-refresh-interval="50">1</span>
					<span class="counter-label">Food Types</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
				<div class="feature-center">
					<span class="counter js-counter" data-from="0" data-to="32" data-speed="5000" data-refresh-interval="50">1</span>
					<span class="counter-label">Chef Cook</span>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 animate-box" data-animate-effect="fadeInUp">
				<div class="feature-center">
					<span class="counter js-counter" data-from="0" data-to="1985" data-speed="5000" data-refresh-interval="50">1</span>
					<span class="counter-label">Year Started</span>

				</div>
			</div>
				
		</div>
	</div>
</div>-->

<?php if( count($this->photographs) > 0 ): ?>
	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-xs-12 col-md-12 gtco-heading" style="text-align: center;margin-bottom: 50px;">
			    	<h2 class="cursive-font primary-color">Confira as fotos de <?=$this->year?></h2>
			  	</div>
				<div class="col-md-12">
					<?php foreach ($this->photographs as $key => $value) : ?>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<a href="/evento/fotos/<?=$value['type']?>/<?=$value['year']?>/idAlbumFacebook/<?=$value['idAlbumFacebook']?>" class="fh5co-card-item">
								<figure>
									<img src="<?=$value['imgAlbum']?>" alt="Image" class="img-responsive">
								</figure>
								<div class="fh5co-text">
									<h2><?=$value['name']?></h2>
									<!--<p><?=$value['description']?></p>-->
								</div>
							</a>
						</div>
					<?php endforeach; ?>
				</div>
			</div>
		</div>
	</div>
<?php endif; ?>

<div id="gtco-subscribe">
	<div class="gtco-container">
		<div class="row">
		  	<div class="col-xs-12 col-md-12 gtco-heading" style="text-align: center;margin-bottom: 50px;">
		    	<h2 class="cursive-font primary-color">Quer ser parceiro deste evento?</h2>
				<p style="color:#fff !important">Digite seu e-mail e receba as cotas de patrocínio.</p>
		  	</div>
		  	<form class="form-inline" method="POST" action="" name="partner">
			  	<div class="col-xs-12 col-md-4">
		      		<div class="form-group">
						<?=$this->form->name?>
					</div>
			  	</div>
			  	<div class="col-xs-12 col-md-4">
			    	<div class="form-group">
						<?=$this->form->email?>
					</div>
			  	</div>
			  	<div class="col-xs-12 col-md-4">
					<button type="submit" class="btn btn-default btn-block">Enviar</button>
			  	</div>
			</form>
		</div>
		<br/>
	</div>
</div>

<div class="gtco-section" style="padding: 70px 0;">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12">
				<center>
					<img src="/public/site/images/patrocinio/apoiosrota2017.jpg" style="width:100%;" class="imgSponsor"/>
					<img src="/public/site/images/patrocinio/apoiosrota2017.jpg" style="width:100%;" class="imgSponsorResponsive"/>
				</center>
			</div>
		</div>
	</div>
</div>