<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92907423-1', 'auto');
  ga('send', 'pageview');

</script>

<script>
	function showRegulation() {
		if( document.getElementById("regulation") ) {
			document.getElementById("regulation").style.display = 'block';
		}
		document.getElementById("photograph").style.display = 'none';
		document.getElementById("restaurant").style.display = 'none';
		document.getElementById("btn2").className = "btn btn-primary btn-block";
		document.getElementById("btn3").className = "btn btn-primary btn-block";
		document.getElementById("btn1").className = "btn btn-primary btn-block background-color-yellow";
	}
	function showPhotograph() {
		if( document.getElementById("regulation") ) {
			document.getElementById("regulation").style.display = 'none';
		}
		document.getElementById("photograph").style.display = 'block';
		document.getElementById("restaurant").style.display = 'none';
		document.getElementById("btn2").className = "btn btn-primary btn-block background-color-yellow";
		document.getElementById("btn3").className = "btn btn-primary btn-block";
		document.getElementById("btn1").className = "btn btn-primary btn-block";
	}
	function showRestaurant() {
		if( document.getElementById("regulation") ) {
			document.getElementById("regulation").style.display = 'none';
		}
		document.getElementById("photograph").style.display = 'none';
		document.getElementById("restaurant").style.display = 'block';
		document.getElementById("btn2").className = "btn btn-primary btn-block";
		document.getElementById("btn3").className = "btn btn-primary btn-block background-color-yellow";
		document.getElementById("btn1").className = "btn btn-primary btn-block";
	}
	//inicializa na aba de album de fotos
	setTimeout(function() {
		showRestaurant();
	}, 25);

</script>

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url('/<?=$this->imgCape?>')">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-center">

				<div class="row row-mt-15em">
					<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
						<h1 class="cursive-font"><?=$this->event_name?> <?=$this->year?></h1>	
						<!--<span class="intro-text-small">Confira todos os detalhes do evento!!</span>-->
					</div>					
				</div>
				
			</div>
		</div>
	</div>
</header>

<div class="gtco-section">
	<div class="gtco-container">
		<div id="fotos">
			<div class="row">
				<?php if(Zend_Registry::get('year') != $this->year): ?>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<button class="btn btn-primary btn-block" id="btn2" onClick="showPhotograph()">Galeria de Fotos</button>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<button class="btn btn-primary btn-block" id="btn3" onClick="showRestaurant()">Restaurantes</button>
					</div>
				<?php else : ?>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<button class="btn btn-primary btn-block" id="btn2" onClick="showPhotograph()">Galeria de Fotos</button>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<button class="btn btn-primary btn-block" id="btn3" onClick="showRestaurant()">Restaurantes</button>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-6">
						<button class="btn btn-primary btn-block" id="btn1" onClick="showRegulation()">Regulamento</button>
					</div>
				<?php endif; ?>
			</div>
		</div>
	</div>
</div>

<div class="gtco-section">
	<div class="gtco-container">
		<div id="restaurant" style="display: none;">
			<div class="row">
				<?php if( $this->imgRestaurant ): ?>
					<?php foreach ($this->imgRestaurant as $key => $value): ?>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<a href="/evento/restaurante/id/<?=$value['idrestaurant']?>">
								<figure>
									<!--<div class="overlay"><i class="ti-plus"></i></div>-->
									<img src="http://festivalgourmetdevarginha.com.br/public/thumb.php?img=<?=$value['image']?>&w=336&h=336" alt="Image" class="img-responsive">
								</figure>
							</a>
						</div>
					<?php endforeach; ?>
				<?php else: ?>
					<center><p style="font-size: 18px;">Nenhum restaurante cadastrado no momento. <a href="/evento/edition/type/<?=$this->type?>">Confira as edições anteriores.</a></p></center>
				<?php endif; ?>
			</div>	
		</div>

		<div id="photograph" style="display: none;">
				<?php if( $this->photographs ): ?>
					<?php $count = 0; ?>
					<?php foreach ($this->photographs as $key => $value): ?>
						<?= ( $count == 0 ) ? '<div class="row">' : ''; ?>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<a href="/evento/fotos/<?=$value['type']?>/<?=$value['year']?>/idAlbumFacebook/<?=$value['idAlbumFacebook']?>" class="fh5co-card-item">
								<figure>
									<img src="<?=$value['imgAlbum']?>" alt="Image" class="img-responsive">
								</figure>
								<div class="fh5co-text">
									<h2><?=$value['name']?></h2>
									<!--<p><?=$value['description']?></p>-->
								</div>
							</a>
						</div>
						<?= ( $count == 2 ) ? '</div>' : '';?>
						<?php ( $count == 2 ) ? $count = 0 : $count++;?>
					<?php endforeach; ?>
					</div>
				<?php else: ?>
					<center><p style="font-size: 18px;">Nenhum album cadastrado no momento. <a href="/evento/edition/type/<?=$this->type?>">Confira as edições anteriores.</a></p></center>
				<?php endif; ?>
		</div>

		<?php if(Zend_Registry::get('year') == $this->year): ?>
		<div id="regulation" style="display: none;">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0 30px;">
					<?php if( $this->regulation ): ?>
						<?= $this->regulation ?>
					<?php else: ?>
						<center><p style="font-size: 18px;">Nenhum regulamento cadastrado no momento. <a href="/evento/edition/type/<?=$this->type?>?>">Confira as edições anteriores.</a></p></center>
					<?php endif; ?>
				</div>
			</div>	
		</div>
		<?php endif; ?>
	</div>
</div>

<?php if( $this->imgSponsor['sponsor'] ): ?>
<div class="gtco-section imgSponsor" >
	<div class="gtco-container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<img src="/<?=$this->imgSponsor['sponsor']?>" style="width:100%"/>
			</div>
		</div>
	</div>
</div>
<?php endif; ?>

<?php if( $this->imgSponsor['sponsor_responsive'] ): ?>
<div class="gtco-section imgSponsorResponsive">
	<div class="gtco-container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<img src="/<?=$this->imgSponsor['sponsor_responsive']?>" style="width:100%"/>
			</div>
		</div>
	</div>
</div>
<?php endif; ?>
