<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92907423-1', 'auto');
  ga('send', 'pageview');

</script>

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(/public/site/images/food-wallpaper14.jpg)">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-center">

				<div class="row row-mt-15em">
					<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
						<h1 class="cursive-font">Edições Anteriores</h1>	
						<span class="intro-text-small"><?=$this->event_name?></span>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</header>


<div class="gtco-section">
	<div class="gtco-container">
		<div id="photograph">
			<div class="row">
				<?php if( $this->years ): ?>
					<?php foreach ($this->years as $key => $value): ?>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<a href="/evento/categoria/<?=$this->type?>/<?=$value['year']?>" class="fh5co-card-item">
								<figure>
									<img src="http://festivalgourmetdevarginha.com.br/public/thumb.php?img=<?=$value['image']?>&w=336&h=225" alt="Image" class="img-responsive">
								</figure>
								<div class="fh5co-text">
									<h1><?=$value['year']?></h1>
								</div>
							</a>
						</div>
					<?php endforeach; ?>
				<?php else: ?>
					<center><p style="font-size: 18px;">Não foi encontrada edições anteriores no momento.</p></center>
				<?php endif; ?>
			</div>	
		</div>
	</div>
</div>
