<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92907423-1', 'auto');
  ga('send', 'pageview');

</script>

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url('/<?=$this->imgCape?>')">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-center">
				<div class="row row-mt-15em">
					<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
						<h1 class="cursive-font">Galeria de Fotos<br/><?=$this->event_name?></h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="gtco-section">
	<div class="gtco-container">

		<!-- EXIBE AS FOTOS DE UM ALBUM SELECIONADO -->
		<iframe src="//embedsocial.com/facebook_album/album_photos/<?=$this->idAlbumFacebook?>" class="photosfacebook" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

	</div>
</div>
