<!-- Maps API Javascript -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7RBrFoObbAhuj8eFmRwFPDFcsHxLOMeM"></script>

<style>
	#site { width: 960px; margin: 20px auto 0 auto }
	#mapa { width: 100%; height: 350px; }
</style>

<script>
  	var map;
	var directionsDisplay;
	var directionsService = new google.maps.DirectionsService();

	function initialize() {	

		var txtEnderecoPartida = "";
		var txtEnderecoChegada = "";

		directionsDisplay = new google.maps.DirectionsRenderer();
		var latlng = new google.maps.LatLng(-21.571401, -45.449397);
		
	    var options = {
	        zoom: 16,
			center: latlng,
	        mapTypeId: google.maps.MapTypeId.ROADMAP
	    };

	    map = new google.maps.Map(document.getElementById("mapa"), options);
		directionsDisplay.setMap(map);
		directionsDisplay.setPanel(document.getElementById("trajeto-texto"));
				
		var geocoder = new google.maps.Geocoder();
		
		geocoder.geocode({
			"location": new google.maps.LatLng(-21.570069, -45.447834)
        },
        function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {

				$("#txtEnderecoPartida").val(results[0].formatted_address);
				var txtEnderecoPartida = results[0].formatted_address;

				geocoder.geocode({
					"location": new google.maps.LatLng(<?=$this->restaurant['latitude']?>, <?=$this->restaurant['longitude']?>)
		        },
		        function(results, status) {
					if (status == google.maps.GeocoderStatus.OK) {
						var txtEnderecoChegada = results[0].formatted_address;

				        var request = {
							origin: txtEnderecoPartida,
							destination: txtEnderecoChegada,
							travelMode: google.maps.TravelMode.DRIVING
						};
						
						directionsService.route(request, function(result, status) {
							if (status == google.maps.DirectionsStatus.OK) {
								directionsDisplay.setDirections(result);
							}
						});
					}
		        });
			}
        });
		
	}

	setTimeout(function() {
		initialize();
	}, 20);

	function enviarcampo() {

		event.preventDefault();
		
		var txtEnderecoPartida = $("#txtEnderecoPartida").val();

		var geocoder = new google.maps.Geocoder();

		geocoder.geocode({
			"location": new google.maps.LatLng(-21.585210, -45.436325)
        },
        function(results, status) {
			if (status == google.maps.GeocoderStatus.OK) {
				var txtEnderecoChegada = results[0].formatted_address;

		        var request = {
					origin: txtEnderecoPartida,
					destination: txtEnderecoChegada,
					travelMode: google.maps.TravelMode.DRIVING
				};
				
				directionsService.route(request, function(result, status) {
					if (status == google.maps.DirectionsStatus.OK) {
						directionsDisplay.setDirections(result);
					}
				});
			}
        });
	}

</script>

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url('/public/site/images/food-wallpaper14.jpg')">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-center">
				
				<div class="row row-mt-15em">
					<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
						<h1 class="cursive-font">Detalhes do Restaurante</h1>	
						<!--<span class="intro-text-small">Confira todos os detalhes do evento!!</span>-->
					</div>					
				</div>

			</div>
		</div>
	</div>
</header>

<div class="gtco-section">
	<div class="gtco-container" >

        <div class="row">
        	<div class="col-lg-7 col-md-7 col-sm-12" style="margin-bottom: 20px;">
				<img src="/<?= $this->restaurant['image'] ?>" style="width: 100%"/>
			</div>
			<div class="col-lg-5 col-md-5 col-sm-12">
				<?php if( $this->restaurant['latitude'] != '' && $this->restaurant['longitude'] != '' ): ?>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<input type="text" id="txtEnderecoPartida" class="form-control" name="txtEnderecoPartida" style="margin-bottom: 6px;"/>
						<button id="btnEnviar" name="btnEnviar" onclick="enviarcampo()" class="btn btn-default btn-block">Estou aqui</button>
					</div>
				</div>
				<div class="row" style="margin-top: 20px;">
					<div class="col-lg-12 col-md-12 col-sm-12">
						<div id="mapa"></div>
					</div>
				</div>
				<?php endif; ?>
			</div>
        </div>
        
    </div>
</div>