<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92907423-1', 'auto');
  ga('send', 'pageview');

</script>

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(/public/site/images/food-wallpaper14.jpg)">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-center">

				<div class="row row-mt-15em">
					<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
						<!--<span class="intro-text-small">Hand-crafted by <a href="http://gettemplates.co" target="_blank">GetTemplates.co</a></span>-->
						<h1 class="cursive-font">Entre em Contato!</h1>	
					</div>
					
				</div>
				
			</div>
		</div>
	</div>
</header>


<div class="gtco-section">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12">

				<?php if( $this->message ): ?>
		            <div class="alert <?= ($this->status) ? 'alert-success' : 'alert-danger' ?>">
		              <?= $this->message ?>
		            </div>
		        <?php endif; ?>

				<div class="col-md-6 animate-box">
				<h3>Formulário de Contato</h3>

				<form action="" method="POST" name="contact">
		            <?php foreach ($this->form as $key => $form) :?>
		            	<div class="row form-group">
							<div class="col-md-12">
								<label class="sr-only" for="name"><?= $form->getLabel() ?> <?= ($form->isRequired() ? '<span class="required">*</span>' : '')?></label>
								<?= $form ?>
							</div>
							
						</div>
		            <?php endforeach; ?>
		            <div class="form-group">
						<input type="submit" value="Enviar Mensagem" class="btn btn-primary">
					</div>
		        </form>	
			</div>
			<div class="col-md-5 col-md-push-1 animate-box">
				
				<div class="gtco-contact-info">
					<h3>Informações do Festival Gourmet</h3>
					<ul>
						<!--<li class="address">Rua Marajós Nª XXX, <br> Varginha, Minas Gerais 37026-215</li>-->
						<li class="phone"><a href="tel://1234567920">+55 35 3222 - 3059</a></li>
						<li class="email"><a href="mailto:info@yoursite.com">priscila@wespanha.com.br</a></li>
					</ul>

					<h3>Informações do SEAV</h3>
					<ul>
						<li class="address">Avenida Rio Branco, 288 - B - Centro<br>Varginha - MG - CEP: 37.002-010</li>
						<li class="email"><a href="mailto:info@yoursite.com">contato@sehav.com.br</a></li>
						<li><a href="http://www.sehav.com.br/" target="_blank">Mais Informações</a></li>
					</ul>
				</div>


			</div>
			</div>
		</div>
	</div>
</div>