<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="pt-br">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Painel de Gerenciamento</title>

    <!-- Bootstrap -->
    <link href="/dashboard/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/dashboard/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/dashboard/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="https://colorlib.com/polygon/gentelella/css/animate.min.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="/dashboard/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/dashboard/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- PNotify -->
    <script src="/dashboard/vendors/pnotify/dist/pnotify.js"></script>
    <script src="/dashboard/vendors/pnotify/dist/pnotify.buttons.js"></script>
    <script src="/dashboard/vendors/pnotify/dist/pnotify.nonblock.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/dashboard/js/custom.min.js"></script>

    <!-- Custom Theme Style -->
    <link href="/dashboard/css/custom.min.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="/public/site/images/fav.png">

  </head>

  <body class="login">
    <div>

      <div class="login_wrapper">
        <div class="animate form login_form">

          <!-- alert -->
          <?php if( $this->alert_msg ): ?>
            <div class="alert alert-<?= $this->type_alert_msg ?> alert-dismissible fade in" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
              </button>
              <?= $this->alert_msg ?>
            </div>
          <?php endif; ?>
          <!-- fim alert -->

          <section class="login_content">
            <form action="" ng-submit="" method="POST">

              <h1>Login<br/><span style="font-size:14px;">Festival Gourmet de Varginha</span></h1>
              <div>
                <?= $this->form_login->email ?>
              </div>
              <div>
                <?= $this->form_login->password ?>
              </div>
              <div>
                <button class="btn btn-primary submit" type="submit">Acessar</button>
                <button class="btn btn-default submit" type="reset">Cancelar</button>
              </div>

              <div class="clearfix"></div>
              <div class="separator">

                <div class="clearfix"></div>
                <br /><br />
                <div>
                  <center><a href="http://festivalgourmetdevarginha.com.br" style="margin: 0px !important">← Voltar para Festival Gourmet de Varginha</a></center>
                  <br />
                  <p>Desenvolvido por:</p>
                  <p><img src="/dashboard/images/logowespanha.png" style="width:100px"></p>
                </div>

              </div>
            </form>
          </section>
        </div>

      </div>
    </div>
  </body>
</html>