<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Galeria de Fotos</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">

        <div class="x_title">
          <h2>Lista de galeria de fotos &nbsp;<a href="/panel/photograph/create"><button type="button" class="btn btn-success">Cadastrar</button></a></h2>
          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <?php if( $this->message ): ?>
            <div class="alert <?= ($this->status) ? 'alert-success' : 'alert-danger' ?>">
              <?= $this->message ?>
            </div>
          <?php endif; ?>

          <?php if( $this->photographs ) { ?>
            <table class="table table-hover">
              <thead>
                <th>Id</th>
                <th>Foto de capa</th>
                <th>Nome</th>
                <th>Evento</th>
                <th>Ano</th>
                <th>Status</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
              </thead>
              <tbody>
                <?php foreach ($this->photographs as $key => $photograph): ?>
                  <tr>
                    <td><?= $photograph['id'] ?></td>
                    <td><img src="<?= $photograph['imgAlbum'] ?>" style="width:40px;"/></td>
                    <td><?= $photograph['name'] ?></td>
                    <td>
                      <?= ($photograph['type'] == 'culinary') ? 'Culinária a céu aberto' : (($photograph['type'] == 'competition') ? 'Concurso' : 'Rota do Sabor'); ?>
                    </td>
                    <td><?= $photograph['year'] ?></td>
                    <td><?= ($photograph['status'] == 'y') ? 'Ativo' : 'Desativado' ?></td>
                    <td><a href="/panel/photograph/update/id/<?=$photograph['id']?>"><i class="icon glyphicon glyphicon-pencil"/></a></td>
                    <td><a param="/panel/photograph/delete/id/<?=$photograph['id']?>" ng-confirm-click='Tem certeza que deseja excluir este album?'><i class="icon glyphicon glyphicon-trash"/></a></td>
                  </tr>
                <?php endforeach; ?>
              </tbody>
            </table>
          <?php } else { ?>
            <div class="alert alert-info">
              Nenhuma galeria de fotos cadastrada no momento!
            </div>
          <?php } ?>
        </div>
      </div>
    </div>
  </div>
</div>
