<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92907423-1', 'auto');
  ga('send', 'pageview');

</script>

<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(/public/site/images/food-wallpaper14.jpg)">
	<div class="overlay"></div>
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12 col-md-offset-0 text-center">

				<div class="row row-mt-15em">
					<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
						<h1 class="cursive-font">Inscreva-se!</h1>	
						<span class="intro-text-small">Preencha corretamente o formulário abaixo!</span>
					</div>
					
				</div>
				
			</div>
		</div>
	</div>
</header>


<div class="gtco-section">
	<div class="gtco-container">
		<div class="row">
			<div class="col-md-12">
				<div class="col-md-12 animate-box">
					<h3>Formulário de inscrição</h3>
					<form action="#">
						<div class="row form-group">
							<div class="col-md-6">
								<label class="sr-only" for="name">Nome*</label>
								<input type="text" id="name" class="form-control" placeholder="Seu nome completo">
							</div>
							<div class="col-md-6">
								<label class="sr-only" for="name">E-mail*</label>
								<input type="email" id="email" class="form-control" placeholder="E-mail">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-6">
								<label class="sr-only" for="name">Nome do Restaurante*</label>
								<input type="text" id="name" class="form-control" placeholder="Nome do restaurante">
							</div>
							<div class="col-md-6">
								<label class="sr-only" for="name">Cidade</label>
								<input type="email" id="email" class="form-control" placeholder="Cidade">
							</div>
						</div>
						<div class="row form-group">
							<div class="col-md-12">
								<label class="sr-only" for="message">Observação</label>
								<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Digite sua observação aqui..."></textarea>
							</div>
						</div>
						<div class="form-group">
							<input type="submit" value="Inscrever" class="btn btn-primary">
						</div>

					</form>		
				</div>
			</div>
		</div>
	</div>
</div>