<!DOCTYPE HTML>

<?php 
	date_default_timezone_set('America/Sao_Paulo');
	$year = Zend_Registry::get('year');
?>

<!--
	Aesthetic by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Festival Gourmet de Varginha</title>
	
	<meta http-equiv="Content-Language" content="pt-br">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="Festival Gourmet de Varginha - A trilha dos sabores Sul Mineiros!" />
	<meta name="keywords" content="festival, festival gourmet, festival gourmet de varginha, culinária, concurso de culinária, rota do sabor, sabor, cozinha, chefe, pratos, restaurantes, varginha, varginha sul de minas, sul de minas, minas" />
	<meta name="author" content="WEspanha Comunicação Inteligente" />  	

  	<meta property="og:locale" content="pt_BR">
  	<meta property="og:url" content="http://<?=$_SERVER['HTTP_HOST']?><?=$_SERVER['REQUEST_URI']?>">
  	<meta property="og:title" content="Festival Gourmet de Varginha">
  	<meta property="og:site_name" content="Festival Gourmet de Varginha">
  	<meta property="og:description" content="Festival Gourmet de Varginha - A trilha dos sabores Sul Mineiros!">
  	<meta property="og:image" content="">
  	<meta property="og:image:type" content="image/jpeg">
  	<meta property="og:image:width" content="800">
  	<meta property="og:image:height" content="600"> 

  	<meta property="og:type" content="website">


	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="/public/site/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/public/site/css/icomoon.css">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="/public/site/css/themify-icons.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/public/site/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/public/site/css/magnific-popup.css">

	<!-- Bootstrap DateTimePicker -->
	<link rel="stylesheet" href="/public/site/css/bootstrap-datetimepicker.min.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="/public/site/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/public/site/css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/public/site/css/style.css">

	<!-- Modernizr JS -->
	<script src="/public/site/js/modernizr-2.6.2.min.js"></script>

	<link rel="icon" type="image/png" href="/public/site/images/fav.png">

	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="/public/site/js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<!--<div class="gtco-loader"></div>-->
	
	<div id="page">

	
	<!-- <div class="page-inner"> -->
	<nav class="gtco-nav" role="navigation">
		<div class="gtco-container">
			
			<div class="row">
				<div class="col-sm-4 col-xs-12">
					<div id="gtco-logo" style="position: absolute;padding: 0px;">
						<a href="/" style="padding: 0px;">
							<img src="/public/site/images/logo.png" style="width:180px;"/>
						</a>&nbsp;
					</div>

					<div id="gtco-logo" style="margin-left: 180px;margin-top: 16px;width: 100px;">
						<a href="https://www.facebook.com/festivalgourmetdevarginha" target="_blank" style="float:left">
							<img src="/public/site/images/facebook.png" style="width:30px;"/>
						</a>
						<a href="https://www.instagram.com/festivalgourmetdevarginha/" target="_blank" style="float:left">
							<img src="/public/site/images/instagram.png" style="width:30px;"/>
						</a>
					</div>

				</div>
				<div class="col-xs-8 text-right menu-1">
					<ul>
						<li><a href="/">Início</a></li>
						<li><a href="/evento/categoria/culinaria-a-ceu-aberto/<?=$year?>">Culinária a céu aberto</a></li>
						<li><a href="/evento/categoria/concurso/<?=$year?>">Concurso</a></li>
						<li><a href="/evento/categoria/rota-do-sabor/<?=$year?>">Rota do Sabor</a></li>
						&nbsp;|&nbsp;
						<li class="has-dropdown">
							<a href="#">Edições</a>
							<ul class="dropdown">
								<li><a href="/evento/edicao/categoria/culinaria-a-ceu-aberto/">Culinária a céu aberto (Shopping)</a></li>
								<li><a href="/evento/edicao/categoria/concurso">Concurso</a></li>
								<li><a href="/evento/edicao/categoria/rota-do-sabor">Rota do Sabor</a></li>
							</ul>
						</li>
						<!--<li class="btn-cta"><a href="/contact/index"><span>Contato</span></a></li>-->
						<li><a href="/contato">Contato</a></li>
						<!--
						<li class="has-dropdown">
							<a href="#">Restaurantes</a>
							<ul class="dropdown">
								<li><a href="/evento/categoria/type/culinary/year/<?=$year?>@restaurant">Culinária a céu aberto (Shopping)</a></li>
								<li><a href="/evento/categoria/type/competition/year/<?=$year?>@restaurant">Concurso</a></li>
								<li><a href="/evento/categoria/type/route/year/<?=$year?>@restaurant">Rota do Sabor</a></li>
							</ul>
						</li>-->
					</ul>	
				</div>
			</div>
			
		</div>
	</nav>

	<?php echo $this->layout()->content; ?>

	<footer id="gtco-footer" role="contentinfo" style="background-image: url(/public/site/images/img_bg_1.jpg)" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<p>&nbsp;</p>
		<div class="gtco-container">
			<div class="row row-pb-md">
				
				<div class="col-md-12 text-center">
					<div class="gtco-widget">
						<h3>Contato</h3>
						<ul class="gtco-quick-contact">
							<li><a href="#"><i class="icon-phone"></i> +55 35 3222.3059</a></li>
							<li><a href="#"><i class="icon-mail2"></i> priscila@wespanha.com.br</a></li>
						</ul>
					</div>
					<div class="gtco-widget">
						<h3>Rede Social</h3>
						<ul class="gtco-social-icons">
							<li><a href="https://www.facebook.com/festivalgourmetdevarginha/" target="_blank"><i class="icon-facebook"></i></a></li>
							<li><a href="https://www.instagram.com/festivalgourmetdevarginha/" target="_blank"><i class="icon-instagram"></i></a></li>
						</ul>
					</div>
				</div>

				<div class="col-md-12 text-center copyright">
					<p><small class="block">&copy; <?php echo date('Y'); ?> Todos os Direitos Reservados.</small> 
						<small class="block">Desenvolvido por: <a href="http://wespanha.com.br/" target="_blank">WEspanha Comunicação Inteligente</a></p>
				</div>

			</div>
		</div>
	</footer>

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="/public/site/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/public/site/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/public/site/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/public/site/js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="/public/site/js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="/public/site/js/jquery.countTo.js"></script>

	<!-- Stellar Parallax -->
	<script src="/public/site/js/jquery.stellar.min.js"></script>

	<!-- Magnific Popup -->
	<script src="/public/site/js/jquery.magnific-popup.min.js"></script>
	<script src="/public/site/js/magnific-popup-options.js"></script>
	
	<script src="/public/site/js/moment.min.js"></script>
	<script src="/public/site/js/bootstrap-datetimepicker.min.js"></script>


	<!-- Main -->
	<script src="/public/site/js/main.js"></script>

	</body>
</html>
